In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r"C:\Users\Admin\Documents\Course Files\QADHPYTHON\data\renfe_trains.csv")

In [3]:
data.head()

,company,origin,destination,departure,arrival,vehicle_class,price,fare
0,renfe,MADRID,SEVILLA,2019-05-07 19:00:00,2019-05-07 21:38:00,Preferente,69.4,Promo
1,renfe,MADRID,SEVILLA,2019-05-07 21:25:00,2019-05-08 00:10:00,Turista,43.55,Promo
2,renfe,MADRID,BARCELONA,2019-05-11 08:30:00,2019-05-11 11:15:00,Turista,85.1,Promo
3,renfe,MADRID,BARCELONA,2019-04-18 14:30:00,2019-04-18 17:21:00,Turista,107.7,Flexible
4,renfe,MADRID,BARCELONA,2019-04-28 16:30:00,2019-04-28 19:15:00,Turista,107.7,Flexible

In [7]:
#1 
print(data.dtypes)
print("The object types do not seem reasonable as they should be strings, data time, floats instead of just object")

company          object
origin           object
destination      object
departure        object
arrival          object
vehicle_class    object
price            object
fare             object
dtype: object
The object types do not seem reasonable as they should be strings, data time, floats instead of just object

In [10]:
#2
#data["price"]
data["price"].value_counts()

price
price    3875
76.3     3794
85.1     3615
107.7    2845
53.4     2719
         ...
98.01       1
98.2        1
69.05       1
19.75       1
61.15       1
Name: count, Length: 389, dtype: int64

In [17]:
#3
data[(data["price"] == "price")]

,company,origin,destination,departure,arrival,vehicle_class,price,fare
69,company,origin,destination,departure,arrival,vehicle_class,price,fare
146,company,origin,destination,departure,arrival,vehicle_class,price,fare
209,company,origin,destination,departure,arrival,vehicle_class,price,fare
287,company,origin,destination,departure,arrival,vehicle_class,price,fare
347,company,origin,destination,departure,arrival,vehicle_class,price,fare
...,...,...,...,...,...,...,...,...
85903,company,origin,destination,departure,arrival,vehicle_class,price,fare
85908,company,origin,destination,departure,arrival,vehicle_class,price,fare
85921,company,origin,destination,departure,arrival,vehicle_class,price,fare
85934,company,origin,destination,departure,arrival,vehicle_class,price,fare
85942,company,origin,destination,departure,arrival,vehicle_class,price,fare

In [22]:
df = data[(data["price"]!="price")] # dropping columns where price input was price

In [40]:
#4
data["price"] = data["price"].astype(np.float32)

ValueError: could not convert string to float: 'price'

Missing Values

In [41]:
#2
data.isna()

,company,origin,destination,departure,arrival,vehicle_class,price,fare
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
85943,False,False,False,False,False,False,False,False
85944,False,False,False,False,False,False,False,False
85945,False,False,False,False,False,False,False,False
85946,False,False,False,False,False,False,False,False
85947,False,False,False,False,False,False,False,False

In [42]:
#3
data.info()
print("The missing values are in: vehicle_class, price, fare.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85948 entries, 0 to 85947
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company        85948 non-null  object
 1   origin         85948 non-null  object
 2   destination    85948 non-null  object
 3   departure      85948 non-null  object
 4   arrival        85948 non-null  object
 5   vehicle_class  77116 non-null  object
 6   price          72769 non-null  string
 7   fare           77116 non-null  object
dtypes: object(7), string(1)
memory usage: 5.2+ MB
The missing values are in: vehicle_class, price, fare.

In [43]:
data.dropna(subset = ['arrival', 'vehicle_class', 'fare'], how='all', inplace = True)

In [45]:
data[['vehicle_class', 'fare', 'price']].groupby(['vehicle_class', 'fare']).mean()

TypeError: agg function failed [how->mean,dtype->string]